.wrap {
    display: flex;
    max-width: 1560px;
    position: relative;
    top: 150px;
    .form {
        background: #006940;
        display: flex;
        flex-direction: row;
        .slogan {
            font-style: normal;
            font-weight: 400;
            color: #FDC400;
            margin-bottom: 20px;
        }
        .formTitle {
            font-weight: 600;
            color: #FFFFFF;
        }

        .buttonList {
            display: flex;
            list-style: none;
            padding: 0;
            .buttonListItem {
                max-width: 233px;
                background: #FDC400;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .2s;
                &:hover {
                    background: transparent;
                    border: 1px solid #FDC400;
                }
                &:hover .link{
                    color: #FDC400;
                }
                .findLink {
                    display: flex;
                    height: 100%;
                    font-weight: 400;
                    color: #006940;
                    text-decoration: none;
                }
                .link {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-weight: 400;
                    color: #006940;
                    text-decoration: none;
                }
            }
        }
    }
    .image {
        width: 100%;
        height: auto;
        max-height: 553px;
    }
}

/* ================================ Media =========================================*/
@media screen and (min-width: 320px) {
    .wrap {
        display: flex;
        flex-direction: column-reverse;
        .form {
            flex-direction: column;
            justify-content: space-between;
            gap: 5vw;
            padding: 10vw 5vw;
            width: 100%;
            .formTitle {
                font-weight: 600;
                color: #FFFFFF;
                font-size: 6vw;
            }
            .buttonList {
                flex-direction: row;
                padding: 0;
                align-items: center;
                justify-content: center;
                gap: 20px;
                .buttonListItem {
                    min-width: 150px;
                    width: 100%;
                    height: 58px;
                    background: #FDC400;
                    .link {
                        font-size: 15px;
                    }
                }
            }
        }
        .image {
            width: 100%;
            height: 100%;
        }
    }
  }
  
@media screen and (min-width: 768px) {
     .wrap {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .form {
            flex-direction: column;
            justify-content: space-between;
            max-width: 593px;
            max-height: 553px;
            gap: 5vw;
            padding: 7vw 5vw;
            width: 100%;
            .formTitle {
                font-weight: 600;
                color: #FFFFFF;
                font-size: 46px;
            }
            .buttonList {
                padding: 0;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                .buttonListItem {
                    min-width: 150px;
                    width: 100%;
                    height: 58px;
                    background: #FDC400;
                    .link {
                        font-size: 15px;
                    }
                }
            }
        }
        .image {
            width: 100%;
            object-fit: cover;
            height: 100%;
            position: absolute;
            z-index: -1;
            bottom: 100px;
        }
    }
}

  
@media screen and (min-width: 1280px) {
    .wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        gap: 2vw;
        overflow:hidden;
        .form {
            flex-direction: column;
            justify-content: space-between;
            min-width: 500px;
            min-height: 552px;
            max-width: 593px;
            max-height: 553px;
            gap: 5vw;
            padding: 80px 5vw;
            width: 100%;
            .formTitle {
                font-weight: 600;
                color: #FFFFFF;
                font-size: 46px;
            }
            .buttonList {
                padding: 0;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                .buttonListItem {
                    min-width: 150px;
                    width: 100%;
                    height: 58px;
                    background: #FDC400;
                    .link {
                        font-size: 15px;
                    }
                }
            }
        }
        .image {
            width: 100%;
            height: 100%;
            position: static;
            z-index: 1;
        }
    }
}
