.slider {
  position: relative;
  max-width: 1050px;
  min-height: 220px;
  overflow: hidden;
}

.sliderBtnWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  top: 0;
  right: -300%;
  max-width: 1050px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.activeSlide {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 1050px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: right cubic-bezier(0.075, 0.82, 0.165, 1) 1500ms;
}

.clientPhotoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 195px;
  margin-right: 70px;
  border-radius: 50%;
}

.iconQuote {
  position: absolute;
  top: 25%;
  right: -5px;

  width: 30px;
  height: 30px;
}

.clientQuoteWithName {
  padding: 10px;
  background-color: var(--font-light-color);
}

.clientQuote {
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 1.5;
}

.clientName {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: var(--font-light-color);
}
.arrow {
  width: 20px;
  height: 20px;
  fill: var(--font-dark-color);
}

.btn + .btn {
  margin-left: 10px;
}

.btn:hover .arrow {
  fill: var(--font-third-color);
}

.btn:hover {
  box-shadow: 2px 2px 4px 0 var(--font-dark-color);
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1025px) {
  .slider {
    max-width: 1050px;
  }

  .clientPhotoWrapper {
    position: relative;
    width: 195px;
    height: 195px;
  }
}
