.container {
    width: 260px;
    box-sizing: border-box;
    .filterButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 260px;
        border: 2px solid #FDC400;
        padding: 10px;
        max-height: 40px;
        box-sizing: border-box;
        background-color: white;
        &:hover {
            cursor: pointer;
        }
    }
    .menu {
        position: absolute;
        background-color: white;
        z-index: 100;
        max-width: 260px;
        box-sizing: border-box;
        .option {
            width: 260px;;
            padding: 10px;
            max-height: 40px;
            box-sizing: border-box;
            background-color: white;
            &:hover {
                cursor: pointer;
                background-color: #FDC400;
            }
        }
    }
}