.dashboard {
  padding: 50px 0;
}
.pageTitle {
  margin-bottom: 20px;
  text-align: center;
}

.findForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.filter {
  position: relative;
  width: 250px;
  font-size: 1em;
  display: inline;
}

.filterBtn {
  font-size: 1em;
  padding: 0.1em 1em;
  margin-left: 1em;

  border-radius: 0.2em;
  color: var(--font-main-color);
  border: 2px solid var(--font-main-color);
  background-color: transparent;
  transition: var(--transition-for-all);
}

.filterBtn:hover {
  border: 2px solid var(--font-main-color);
  background-color: var(--font-third-color);
  border-color: transparent;
}

table {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  border-collapse: collapse;
  color: var(--font-light-color);
  font-size: 1em;
}

.tableHeader {
  padding: 0.3em 2em;

  text-align: center;
  border: 2px solid var(--font-dark-color);
  background-color: var(--font-main-color);
}

.tableCeil {
  padding: 0.3em 0.5em;

  border: 1px solid var(--font-dark-color);
  font-weight: 500;
  text-align: center;
  color: var(--font-main-color);
  overflow: hidden;
}
