.contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 70px;
  padding: 0 100px;
  background-color: var(--font-header-line-color);
}

.text {
  margin-right: 20px;

  color: var(--font-light-color);
}

.tel,
.mail {
  color: var(--font-light-color);
}

.tel:hover,
.mail:hover {
  color: var(--font-third-color);
}

.tel {
  margin-right: 20px;
}

.tel::before {
  content: '';
  width: 10px;
  height: 10px;
  padding: 0 15px;

  background-image: url('../../images/png/tel.png');
  background-repeat: no-repeat;
  background-position: center;
}

.mail::before {
  content: '';
  width: 10px;
  height: 10px;
  padding: 0 15px;

  background-image: url('../../images/png/mail.png');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation {
  display: flex;
  width: 100%;
  min-height: 120px;
  align-items: center;
  justify-content: space-between;
}
.logoLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50px;
}

.txtGo {
  color: var(--font-secondary-color);
  margin-left: 5px;
}

.txtEco {
  font-size: 40px;
  font-weight: 900;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 40%;
}

.menuItem:not(:last-child) {
  margin-right: 60px;
}

.menuItem a {
  display: inline-block;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.menuItem a:hover {
  color: var(--font-light-color);
  background-color: var(--font-main-color);
}

.authList {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
}

.authListItem:not(:last-child) {
  margin-right: 10px;
}

.loginLink,
.signupLink {
  display: inline-block;

  padding: 8px 25px;
  border-radius: 3px;
  min-width: max-content;
}

.loginLink {
  border: 2px solid var(--font-secondary-color);
}

.loginLink:hover {
  background-color: var(--font-third-color);
  border-color: transparent;
}

.signupLink {
  border: 2px solid transparent;
  background-color: var(--font-third-color);
}

.signupLink:hover {
  background-color: transparent;
  border-color: var(--font-secondary-color);
}

.isActive {
  border-bottom: 2px solid var(--font-main-color);
}

.navLink {
  border-bottom: 2px solid transparent;
}
